.input{
    padding:10px;
    border-bottom: 1px solid grey;
    transition-duration: 2000ms;
    transition-property: border-bottom-color, box-shadow, width;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
  .input__inner {
    width: 100%;
  }

  .input:hover{
    border-bottom: 1px solid rgb(206, 202, 202);
  }
  .inpu:box:focus{
    border-bottom: 1px solid rgb(206, 202, 202);
  }