.checkbox{
  padding: 10px;
  position: relative;
}





.checkbox__text{
  padding-left: 20px;
  cursor: pointer;
  /* border: 1px solid grey; */
}
.checkbox__inner{
  cursor: pointer;
  position: absolute;
  /* border: 1px solid grey; */
}